.game-wrapper {
  background-color: #c0c0c0;
  padding: 5px;
  border-radius: 10px;

  .board {
    padding: 10px;
    margin: 2px;
    margin-top: 7px;

    .controls {
      margin-bottom: 10px;
    }

    .cells-wrapper {
      display: grid;
    }

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span,
      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
